<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h1 class="titulo">Cadastro de Cliente</h1>
<a href="#cliente/listar"> Lista de clientes <img alt="Novo" src="recursos/img/list-icon.png" border="0">
</a>

<br />
<br />

<div class="col-lg-9 col-md-8">
	<div class="card">
		<div class="content">
			<form id="formCliente" ng-submit="salvarCliente();">					
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Nome</label> 
									<input type="text" ng-model="cliente.nome" class="form-control border-input"
									 placeholder="Nome" required="required" />
							</div>
							<div class="form-group">
								<label>Endereço</label> 
									<input type="text" ng-model="cliente.endereco" class="form-control border-input"
									 placeholder="Endereço" required="required" />
							</div>
							<div class="form-group">
								<label>Data de nascimento</label> 
									<input type="text" ng-model="cliente.dataNasc" size="20" class="form-control border-input form-metade-largura"
									 placeholder="Data de nascimento" required="required" id="dataNasc" />
							</div>
							<div class="form-group">
								<label>Sexo</label> <br /> 
									<input type="radio" name="sexo" ng-model="cliente.sexo" 
									class="border-input form-radio" required="required" value="0" />Masculino
									<input type="radio" name="sexo" ng-model="cliente.sexo" 
									class="border-input form-radio" required="required" value="1" />Feminino
							</div>
							<div class="form-group">
								<label>Telefone</label> 
									<input type="text" ng-model="cliente.telefone" class="form-control border-input form-metade-largura"
									 placeholder="Telefone" required="required" />
							</div>
																
						</div>
					</div>								
				<button type="submit" class="btn btn-info btn-fill btn-wd">Cadastrar</button>
				<button type="button" class="btn btn-info btn-fill btn-wd" ng-click="$scope.cliente={}">Limpar</button>
				<button type="button" class="btn btn-info btn-fill btn-wd" ng-click="goToLista()">Listagem de clientes</button>
			</form>
		</div>	
	</div>
</div>	
</html>